<launch>
  <arg name="collect_data" default="true" />
  <node name="data_collection"
        pkg="jsk_data" type="data_collection_server.py"
        output="screen" if="$(arg collect_data)">
    <rosparam subst_value="true">
      approximate_sync: true
      queue_size: 10000
      method: request
      save_dir: ~/
      topics:
        - name: /colorize_float_image_heightmap/output
          msg_class: sensor_msgs/Image
          fname: heightmap_image.pkl
          savetype: DepthImage
    </rosparam>
  </node>
</launch>
