<launch>
  <arg name="gui" default="true"/>
  <node name="sample_point_publisher_from_pointcloud"
        pkg="jsk_2020_4_carry_dish" type="sample_point_publisher_from_pointcloud.py">
    <remap from="~input" to="/kinect_head/depth_registered/throttled/points" />
    <rosparam>
      x: 0
      y: 0.3
      z: 0.2
    </rosparam>
  </node>

  <node name="extract_indices" pkg="jsk_pcl_ros" type="extract_indices">
    <remap from="~input" to="/kinect_head/depth_registered/throttled/points" />
    <remap from="~indices" to="/attention_clipper/output/point_indices" />
    <remap from="~output" to="/kinect_head/depth_registered/throttled/extract/points" />
  </node>
 
  <node name="hinted_handle_estimator"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/HintedHandleEstimator">
    <remap from="~cloud" to="/kinect_head/depth_registered/throttled/extract/points" />
    <remap from="~point" to="sample_point_publisher_from_pointcloud/output"/>
  </node>

  <group if="$(arg gui)">
    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2020_4_carry_dish)/config/hinted_handle_estimator.rviz"/>
  </group>
</launch>

