<launch>
  <!--TODO: edit camera topic and camera frame  -->
  <arg name="gui" default="true"/>

  <!--node name="static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.0 0.0 2.0 0.0, 0.785, 1.571 /camera_rgb_optical_frame /dummy_frame 10"/-->

  <node name="virtual_camera_mono"
        pkg="jsk_perception" type="virtual_camera_mono">
        <remap from="image" to="/head_mount_kinect/rgb/image_raw"/>
        <remap from="camera_info" to="/head_mount_kinect/rgb/camera_info"/>
        <rosparam>
            frame_id: segmentation_decomposeroutput00
            child_frame_id: virtual_camera_frame
            initial_pos: [0.0, 0.0, -0.98]
            initial_rot: [0.0, 0.0, 0.0, 1.0]
        </rosparam>
  </node>

  <group if="$(arg gui)">
      <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2020_4_carry_dish)/config/virtual_camera_mono.rviz"/>
  </group>
</launch>
