<launch>
  <!-- c.f. https://jsk-common.readthedocs.io/en/latest/jsk_data/node_scripts/data_collection_server.html , https://github.com/start-jsk/jsk_apc/blob/master/demos/selective_dualarm_stowing/launch/bimanual_stow_data_collection.launch#L130-L202 -->
  <arg name="collect_data" default="true" />
  <arg name="use_sim" default="true" />
  <arg     if="$(arg use_sim)" name="rgb_name" default="/head_mount_kinect/rgb/image_raw"/>
  <arg unless="$(arg use_sim)" name="rgb_name" default="/kinect_head_remote/rgb/image_rect_color"/>
  <node name="judge_data_collection"
        pkg="jsk_data" type="data_collection_server.py"
        output="screen" if="$(arg collect_data)">
    <rosparam subst_value="true">
      message_filters: true
      approximate_sync: true
      queue_size: 10000000
      method: request
      save_dir: ~/Data/judge_data
      topics:
        - name: $(arg rgb_name) 
          msg_class: sensor_msgs/Image
          fname: rgb_image_rect_color.png
          savetype: ColorImage
      params:
        - key: /judge_grasp_success
          fname: judge_grasp_success.txt
          savetype: Text
    </rosparam>
  </node>
</launch>
