<launch>
  <arg name="gui" default="true"/>

  <node name="sample1_manager"
        pkg="nodelet" type="nodelet"
        args="manager"/>

  <node name="depth_image_creator"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/DepthImageCreator">
    <remap from="~input" to="/segmentation_decomposer/debug_output"/>
    <remap from="~info" to="/head_mount_kinect/rgb/camera_info" />
    <rosparam>
      use_approximate: true
      max_queue_size: 100
      max_pub_queue_size: 1
      max_sub_queue_size: 1
      organize_cloud: True
    </rosparam>
  </node>
</launch>
