<launch>
  <!-- c.f. https://jsk-common.readthedocs.io/en/latest/jsk_data/node_scripts/data_collection_server.html , https://github.com/start-jsk/jsk_apc/blob/master/demos/selective_dualarm_stowing/launch/bimanual_stow_data_collection.launch#L130-L202 -->
  <arg name="collect_data" default="true" />
  <arg name="use_sim" default="true"/>
  <arg     if="$(arg use_sim)" name="rgb_name" default="/head_mount_kinect/rgb/image_raw"/>
  <!--arg unless="$(arg use_sim)" name="rgb_name" default="/kinect_head/rgb/image_raw"/-->
  <arg unless="$(arg use_sim)" name="rgb_name" default="/kinect_head_remote/rgb/image_rect_color"/>
  <arg     if="$(arg use_sim)" name="depth_name" default="/head_mount_kinect/depth/image_raw"/>
  <!--arg unless="$(arg use_sim)" name="depth_name" default="/kinect_head/depth/image_raw"/-->
  <arg unless="$(arg use_sim)" name="depth_name" default="/kinect_head_remote/depth_registered/image_rect"/>
  <arg name="extract_color_name" default="/extracted_depth_image_creator/output_image"/>
  <arg name="extract_depth_name" default="/extracted_depth_image_creator/output"/>
 
  <node name="depth_data_collection"
        pkg="jsk_data" type="data_collection_server.py"
        output="screen" if="$(arg collect_data)">
    <rosparam subst_value="true">
      message_filters: true
      approximate_sync: true
      queue_size: 10000
      method: request
      save_dir: ~/Data/depth_data
      topics:
        - name: /heightmap_morphological_filtering/output
          msg_class: sensor_msgs/Image
          fname: morphological_image.pkl
          savetype: DepthImage
        - name: $(arg extract_color_name)
          msg_class: sensor_msgs/Image
          fname: extract_color_image.pkl
          savetype: DepthImage
    </rosparam>
      <!--
        - name: /colorize_float_image_heightmap/output
          msg_class: sensor_msgs/Image
          fname: heightmap_image.pkl
          savetype: DepthImage
        - name: $(arg depth_name)
          msg_class: sensor_msgs/Image
          fname: depth_registered_image_rect.pkl
          savetype: DepthImage
        - name: $(arg rgb_name)
          msg_class: sensor_msgs/Image
          fname: rgb_image_rect_color.png
          savetype: ColorImage
        - name: $(arg extract_depth_name)
          msg_class: sensor_msgs/Image
          fname: extract_depth_image.pkl
          savetype: DepthImage
       -->
 </node>
</launch>
