<launch>
    <node name="sync_repub"
        pkg="jsk_2020_4_carry_dish" type="sync_repub.py">
        <rosparam>
            topics: ["/heightmap_morphological_filtering/output", "/kinect_head_remote/depth_registered/image_rect"]
            approximate_sync: True
            queue_size: 100   
            slop: 0.1
        </rosparam>
    </node>
</launch>
